:root {
  --line-width: 0.1mm;
  --line-color: #EEEEEE;
}

@media screen {
  :root {
    --line-color: #000000;
  }
}

.deck-arthuriens {
  --dim-width: 67mm;
  --dim-depth: 16mm;
  --title-name: "Arthuriens";
  --title-complexity: "★★★★★";
  --title-name-bg: #8cc24c;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #8cc24c;
  --title-complexity-fg: #ffffff;
}

.deck-atlantes {
  --dim-width: 67mm;
  --dim-depth: 12mm;
  --title-name: "Atlantes";
  --title-complexity: "★★★☆☆";
  --title-name-bg: #68c7f1;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #68c7f1;
  --title-complexity-fg: #ffffff;
}

.deck-egyptiens {
  --dim-width: 67mm;
  --dim-depth: 12mm;
  --title-name: "Egyptiens";
  --title-complexity: "★★★☆☆";
  --title-name-bg: #fbf148;
  --title-name-fg: #000000;
  --title-complexity-bg: #fbf148;
  --title-complexity-fg: #000000;
}

.deck-maurya {
  --dim-width: 67mm;
  --dim-depth: 13mm;
  --title-name: "Maurya";
  --title-complexity: "★★☆☆☆";
  --title-name-bg: #906138;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #906138;
  --title-complexity-fg: #ffffff;
}

.deck-minoens {
  --dim-width: 67mm;
  --dim-depth: 12mm;
  --title-name: "Minoens";
  --title-complexity: "★★★☆☆";
  --title-name-bg: #221f20;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #221f20;
  --title-complexity-fg: #ffffff;
}

.deck-olmeques {
  --dim-width: 67mm;
  --dim-depth: 14mm;
  --title-name: "Olmeques";
  --title-complexity: "★★★★☆";
  --title-name-bg: #86888b;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #86888b;
  --title-complexity-fg: #ffffff;
}

.deck-qin {
  --dim-width: 67mm;
  --dim-depth: 13mm;
  --title-name: "Qin";
  --title-complexity: "★★☆☆☆";
  --title-name-bg: #e887ab;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #e887ab;
  --title-complexity-fg: #ffffff;
}

.deck-utopiens {
  --dim-width: 67mm;
  --dim-depth: 11mm;
  --title-name: "Utopiens";
  --title-complexity: "★★★★★";
  --title-name-bg: #47b6ae;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #47b6ae;
  --title-complexity-fg: #ffffff;
}

.deck-tradition {
  --dim-width: 67mm;
  --dim-depth: 12mm;
  --title-name: "Tradition";
  --title-complexity: "";
  --title-name-bg: #039f3a;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #039f3a;
  --title-complexity-fg: #ffffff;
}

.deck-region {
  --dim-width: 67mm;
  --dim-depth: 8mm;
  --title-name: "Région";
  --title-complexity: "";
  --title-name-bg: #fad000;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #fad000;
  --title-complexity-fg: #ffffff;
}

.deck-renommee {
  --dim-width: 67mm;
  --dim-depth: 14mm;
  --title-name: "Instabilité";
  --title-complexity: "Renommée";
  --title-name-bg: #dd0a13;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #974f98;
  --title-complexity-fg: #ffffff;
}

.deck-vassal {
  --dim-width: 67mm;
  --dim-depth: 7mm;
  --title-name: "Vassal";
  --title-complexity: "";
  --title-name-bg: #026db5;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #026db5;
  --title-complexity-fg: #ffffff;
}

.deck-civilise {
  --dim-width: 67mm;
  --dim-depth: 8mm;
  --title-name: "Civilisé";
  --title-complexity: "";
  --title-name-bg: #aab1b7;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #aab1b7;
  --title-complexity-fg: #ffffff;
}

.frame {
  height: calc(var(--dim-width) * 2 + var(--dim-depth) + 2mm);
  width: calc(var(--dim-width) * 4 + 2mm);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: var(--dim-width) 1fr var(--dim-width);
}

.title {
  display: grid;
  grid-template-columns: auto 4mm auto;
  align-content: center;
  padding: 0 3mm;
}
.title * {
  padding: 0mm 1mm;
  align-content: center;
  font-size: 5mm;
}
.title-name {
  background-color: var(--title-name-bg);
  color: var(--title-name-fg);
}
.title-name::before {
  content: var(--title-name);
  letter-spacing: 5%;
}
.title-separator {
  background-image: linear-gradient(to top left, var(--title-complexity-bg) 50%, var(--title-name-bg) 50%);
}
.title-complexity {
  background-color: var(--title-complexity-bg);
  color: var(--title-complexity-fg);
  text-align: right;
}
.title-complexity::before {
  content: var(--title-complexity);
}

div {
  border-collapse: collapse;
}
.row-1, .row-2, .row-3 {
  border-right: var(--line-width) dotted var(--line-color);
  border-bottom: var(--line-width) dotted var(--line-color);
}
.col-1 {
  border-left: var(--line-width) dotted var(--line-color);
}
.row-1 {
  border-top: var(--line-width) dotted var(--line-color);
}
.row-1.col-4 {
  border-bottom: none;
}
.row-2.col-3 {
  border-right: none;
}
.row-2.col-4 {
  border: none;
}

@media print {
  @page {
    size: a4 landscape;
    margin: 0cm;
  }
}

html, body, .page {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.page {
  page-break-after: always;
  break-after: page;
  outline: none;
}

.diagonale-bottom {
  background: linear-gradient(
    to bottom right,
    transparent calc(50% - var(--line-width)),
    var(--line-color),
    transparent calc(50% + var(--line-width))
  );
}

.diagonale-top {
  background: linear-gradient(
    to top right,
    transparent calc(50% - var(--line-width)),
    var(--line-color),
    transparent calc(50% + var(--line-width))
  );
}
