:root {
  --line-width: 0.1mm;
  --line-color: #CCCCCC;
}

.deck-maurya {
  --dim-width: 67mm;
  --dim-depth: 7mm;
  --title-name: "Maurya";
  --title-complexity: "Renommée";
  --title-complexity: "☆☆☆★★";
  --title-name-bg: #906138;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #906138;
  --title-complexity-fg: #ffffff;
}

.deck-renommee {
  --dim-width: 67mm;
  --dim-depth: 7mm;
  --title-name: "Instabilité";
  --title-complexity: "Renommée";
  --title-name-bg: #dd0a13;
  --title-name-fg: #ffffff;
  --title-complexity-bg: #974f98;
  --title-complexity-fg: #ffffff;
}

.frame {
  height: calc(var(--dim-width) * 2 + var(--dim-depth) + 2mm);
  width: calc(var(--dim-width) * 4 + 2mm);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: var(--dim-width) 1fr var(--dim-width);
  border: none;
}

.frame > div:nth-child(4) {
  border-bottom: none;
}
.frame > div:nth-child(12) {
  border-top: none;
}

.bottom {
  border-style: solid;
}

.title {
  border: none;
  display: grid;
  grid-template-columns: auto 4mm auto;
  align-content: center;
  padding: 0 3mm;
}
.title * {
  border: none;
  padding: 0mm 1mm;
  align-content: center;
  font-size: 5mm;
}
.title-name {
  background-color: var(--title-name-bg);
  color: var(--title-name-fg);
}
.title-name::before {
  content: var(--title-name);
  letter-spacing: 5%;
}
.title-separator {
  background-image: linear-gradient(to top left, var(--title-complexity-bg) 50%, var(--title-name-bg) 50%);
}
.title-complexity {
  background-color: var(--title-complexity-bg);
  color: var(--title-complexity-fg);
  text-align: right;
}
.title-complexity::before {
  content: var(--title-complexity);
}

div {
  border: var(--line-width) dotted var(--line-color);
  border-collapse: collapse;
}

@media print {
  @page {
    size: a4 landscape;
    margin: 0cm;
  }
}

html, body, .page {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.page {
  page-break-after: always;
  break-after: page;
  outline: none;
}

.diagonale-bottom {
  background: linear-gradient(
    to bottom right,
    transparent calc(50% - var(--line-width)),
    var(--line-color),
    transparent calc(50% + var(--line-width))
  );
}

.diagonale-top {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    transparent calc(50% - var(--line-width)),
    var(--line-color),
    transparent calc(50% + var(--line-width))
  );
}
